<div id="<%= dom_id message %>" class="list-group-item">
  <div class="d-flex justify-content-between">
    <strong class="text-nowrap text-secondary"><%= message.author.name %></strong>
    <small class="text-muted"><%= message.created_at.strftime("%l:%M%p").strip.downcase %></small>
  </div>
  <div>
    <%= message.content %>
  </div>
</div>
