<div id="<%= dom_id(chat, :new_message_form) %>" class="py-2 bg-white border-top">
  <div data-turbo-permanent="true">
    <%= render "messages/form", chat: chat, message: chat.messages.build %>
  </div>
</div>
