<div class="list-group-item">
  <div class="d-flex align-items-center">
    <div class="flex-grow-1">
      <h6 class="mb-0"><%= chat_user.user.name %></h6>
      <small class="text-muted">
        <%= chat_user.user.preferred_language.icon %> 
        <%= chat_user.user.preferred_language.name %>
        <% if chat_user.user.preferred_language.name != chat_user.user.preferred_language.name_english %>
          (<%= chat_user.user.preferred_language.name_english %>)
        <% end %>
      </small>
    </div>
  </div>
</div>