<div id="<%= dom_id chat %>">
  <h5 class="mb-1"><%= chat.subject %></h5>
  <div class="d-flex gap-3 text-body-secondary">
    <small>Token: <%= chat.token %></small>
    <small>Creator ID: <%= chat.creator_id %></small>
  </div>
</div>
