<% content_for :title, "Chats" %>

<div class="d-flex justify-content-between align-items-center mb-4">
  <nav aria-label="breadcrumb" class="mb-0">
    <ol class="breadcrumb mb-0">
      <li class="breadcrumb-item active" aria-current="page">Chats</li>
    </ol>
  </nav>
  
  <%= button_to chats_path, method: :post, class: "bg-transparent border-0 p-0" do %>
    <i class="fas fa-edit fa-lg text-primary"></i>
  <% end %>
</div>

<div id="chats" class="list-group">
  <% @chats.each do |chat| %>
    <%= link_to chat, class: "list-group-item list-group-item-action" do %>
      <%= render chat %>
    <% end %>
  <% end %>
</div>
